
    <form id="search" action="/artist-search" , method="GET">
        <input type="text" id="artist" name="artist" placeholder="your artist"><br>
        <button>Search for an Artist</button>
    </form>

